@model Prototype.Web.ViewModels.ClientPortalViewModel

<div class="container">
    <div class="h3">Client Portal</div>
    <div>We've got this address on record for you:</div>
    <div>@Model.Address</div>
    <div>If this isn't correct, please contact us.</div>
</div>